<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Applied Science Building</string>
	<string>Blusson Hall</string>
	<string>Academic Quadrangle</string>
	<string>Bennett Library</string>
	<string>Shell House</string>
	<string>Louis Riel House</string>
	<string>Hamilton Hall</string>
	<string>Pauline Jewett House</string>
	<string>Barbara Rae House</string>
	<string>Shadbolt House</string>
	<string>McTaggart-Cowan Hall</string>
</array>
</plist>
