<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>contactInfo</key>
		<string>http://mycusthelp.ca/SFU/_cs/SupportHome.aspx</string>
		<key>contactDetail</key>
		<string>Frequently Asked Questions</string>
		<key>contactIcon</key>
		<string>weblink</string>
	</dict>
	<dict>
		<key>contactInfo</key>
		<string>778-782-6930</string>
		<key>contactDetail</key>
		<string>General Student Services</string>
		<key>contactIcon</key>
		<string>phone</string>
	</dict>
	<dict>
		<key>contactInfo</key>
		<string>reginfo@sfu.ca</string>
		<key>contactDetail</key>
		<string>Enrollment, Record, Documents</string>
		<key>contactIcon</key>
		<string>email</string>
	</dict>
	<dict>
		<key>contactInfo</key>
		<string>https://livehelp.sfu.ca/cgi-bin/WebObjects/LiveHelp.woa/wa/HelpRequest?reginfo</string>
		<key>contactDetail</key>
		<string>SFU LiveHelp</string>
		<key>contactIcon</key>
		<string>weblink</string>
	</dict>
	<dict>
		<key>contactInfo</key>
		<string>MBC 3200</string>
		<key>contactDetail</key>
		<string>Hours: M-Th: 9-6pm | F: 10-4:30pm |</string>
		<key>contactIcon</key>
		<string>location</string>
	</dict>
	<dict>
		<key>contactInfo</key>
		<string>778-383-7663</string>
		<key>contactDetail</key>
		<string>Send a text to get in line</string>
		<key>contactIcon</key>
		<string>textmessage</string>
	</dict>
</array>
</plist>
