<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>contactInfo</key>
		<string>reginfo@sfu.ca</string>
		<key>contactDetail</key>
		<string>Enrollment, Record, Documents</string>
		<key>contactType</key>
		<string>Email</string>
	</dict>
	<dict>
		<key>contactInfo</key>
		<string>778-782-6930</string>
		<key>contactDetail</key>
		<string>General Student Services</string>
		<key>contactType</key>
		<string>Phone</string>
	</dict>
	<dict>
		<key>contactInfo</key>
		<string>Maggie Benson Centre 3200</string>
		<key>contactDetail</key>
		<string>Monday to Thursday: 
9:00 am – 6:00 pm
Friday: 
10:00 am – 4:30 pm
Opens at 8 am during enrollment</string>
		<key>contactType</key>
		<string>In Person</string>
	</dict>
	<dict>
		<key>contactInfo</key>
		<string>778-383-7663</string>
		<key>contactDetail</key>
		<string>Send a text to get in line</string>
		<key>contactType</key>
		<string>Text</string>
	</dict>
</array>
</plist>
