<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>contactInfo</key>
		<string>778-782-4500</string>
		<key>contactDetail</key>
		<string>For emergencies</string>
		<key>contactType</key>
		<string>Phone</string>
	</dict>
	<dict>
		<key>contactInfo</key>
		<string>778-782-3100</string>
		<key>contactDetail</key>
		<string>General Inquiries &amp; Safe Walk</string>
		<key>contactType</key>
		<string>Phone</string>
	</dict>
	<dict>
		<key>contactInfo</key>
		<string>778.782.3921</string>
		<key>contactDetail</key>
		<string>Security Information Booth</string>
		<key>contactType</key>
		<string>Phone</string>
	</dict>
	<dict>
		<key>contactInfo</key>
		<string>Transportation Centre 050</string>
		<key>contactDetail</key>
		<string>Monday to Friday: 
7:00 am – 11:00 pm
Saturday: 7:00 am – 9:00 pm
Sunday: 7:00 am – 3:00 pm</string>
		<key>contactType</key>
		<string>In Person</string>
	</dict>
</array>
</plist>
