<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>contactInfo</key>
			<string>reginfo@sfu.ca</string>
			<key>contactDetail</key>
			<string>Enrollment, Record, Documents</string>
			<key>contactIcon</key>
			<string>Email</string>
		</dict>
		<dict>
			<key>contactInfo</key>
			<string>778-782-6930</string>
			<key>contactDetail</key>
			<string>General Student Services</string>
			<key>contactIcon</key>
			<string>Phone</string>
		</dict>
		<dict>
			<key>contactInfo</key>
			<string>http://mycusthelp.ca/SFU/_cs/SupportHome.aspx</string>
			<key>contactDetail</key>
			<string>Frequently Asked Questions</string>
			<key>contactIcon</key>
			<string>Online</string>
		</dict>
		<dict>
			<key>contactInfo</key>
			<string>https://livehelp.sfu.ca/cgi-bin/WebObjects/LiveHelp.woa/wa/HelpRequest?reginfo</string>
			<key>contactDetail</key>
			<string>SFU LiveHelp</string>
			<key>contactIcon</key>
			<string>Online</string>
		</dict>
		<dict>
			<key>contactInfo</key>
			<string>Maggie Benson Centre 3200</string>
			<key>contactDetail</key>
			<string>M T W Th: 9:00 am – 6:00 pm
                F: 10:00 am – 4:30 pm
                Opens at 8 am during enrollment period</string>
			<key>contactIcon</key>
			<string>In Person</string>
		</dict>
		<dict>
			<key>contactInfo</key>
			<string>778-383-7663</string>
			<key>contactDetail</key>
			<string>Send a text to get in line</string>
			<key>contactIcon</key>
			<string>Text</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>contactInfo</key>
			<string>fiassist@sfu.ca</string>
			<key>contactDetail</key>
			<string>Financial Aid and Awards</string>
			<key>contactIcon</key>
			<string>Email</string>
		</dict>
		<dict>
			<key>contactInfo</key>
			<string>Maggie Benson Centre 3200</string>
			<key>contactDetail</key>
			<string>M T Th: 9:30 am – 3:30 pm
                W: 9:30 am – 2:00 pm
                F: 10:00 am – 3:30 pm</string>
			<key>contactIcon</key>
			<string>In Person</string>
		</dict>
	</array>
</array>
</plist>
