<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Simon Fraser University</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/simonfraseruniversity</string>
		<key>Twitter</key>
		<string>https://twitter.com/sfu</string>
		<key>Youtube</key>
		<string>https://www.youtube.com/user/sfunews</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>SFU&apos;s Surrey Campus</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/SFUSurrey</string>
		<key>Twitter</key>
		<string>https://twitter.com/sfusurrey</string>
		<key>Youtube</key>
		<string>NODATA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>SFU&apos;s Vancouver Campus</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/SFUVancouver</string>
		<key>Twitter</key>
		<string>https://twitter.com/sfuvan</string>
		<key>Youtube</key>
		<string>NODATA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Beedie School of Business</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/BeedieSchoolofBusiness</string>
		<key>Twitter</key>
		<string>https://twitter.com/sfubeedie</string>
		<key>Youtube</key>
		<string>https://www.youtube.com/user/sfubeedieschool</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Big Data</string>
		<key>Facebook</key>
		<string>NODATA</string>
		<key>Twitter</key>
		<string>https://twitter.com/bigdata_SFU</string>
		<key>Youtube</key>
		<string>https://www.youtube.com/user/sfubigdata</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bookstore</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/sfubookstores</string>
		<key>Twitter</key>
		<string>https://twitter.com/sfubookstores</string>
		<key>Youtube</key>
		<string>NODATA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Centre for Dialogue</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/pages/SFU-Centre-for-Dialogue/157037967683526</string>
		<key>Twitter</key>
		<string>https://twitter.com/SFUDialogue</string>
		<key>Youtube</key>
		<string>https://www.youtube.com/user/SFUDialogue/</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Continuing Studies</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/sfucontinuingstudies</string>
		<key>Twitter</key>
		<string>https://twitter.com/CS_SFU</string>
		<key>Youtube</key>
		<string>https://www.youtube.com/user/SFUcontinuingstudies</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Co-operative Education</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/SFU.Coop</string>
		<key>Twitter</key>
		<string>https://twitter.com/sfu_coop</string>
		<key>Youtube</key>
		<string>https://www.youtube.com/user/sfuwil</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dining Services</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/SFUDiningServices</string>
		<key>Twitter</key>
		<string>https://twitter.com/SFU_Dining</string>
		<key>Youtube</key>
		<string>NODATA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Education</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/SFUFoE</string>
		<key>Twitter</key>
		<string>https://twitter.com/sfueducation</string>
		<key>Youtube</key>
		<string>NODATA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Faculty of Applied Sciences</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/FAS.SFU</string>
		<key>Twitter</key>
		<string>https://twitter.com/FAS_SFU</string>
		<key>Youtube</key>
		<string>https://www.youtube.com/user/fascomms</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Faculty of Communication, Art and Technology</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/FCATatSFU?ref=ts</string>
		<key>Twitter</key>
		<string>https://twitter.com/FCATatSFU</string>
		<key>Youtube</key>
		<string>NODATA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Gerontology Research Centre</string>
		<key>Facebook</key>
		<string>NODATA</string>
		<key>Twitter</key>
		<string>https://twitter.com/SFUGERO</string>
		<key>Youtube</key>
		<string>https://www.youtube.com/user/SFUNews/search?query=SFU+gerontology</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Graduate Studies</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/pages/SFU-Graduate-Studies/215770135110961</string>
		<key>Twitter</key>
		<string>https://twitter.com/sfu_gradstudies</string>
		<key>Youtube</key>
		<string>NODATA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Health and Counselling Services</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/SFUHealthandCounselling</string>
		<key>Twitter</key>
		<string>https://twitter.com/SFUHCS</string>
		<key>Youtube</key>
		<string>NODATA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>History</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/SFUHistory?ref=search&amp;sid=690125593.2967595600..1</string>
		<key>Twitter</key>
		<string>https://twitter.com/sfuhistory</string>
		<key>Youtube</key>
		<string>NODATA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Library</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/SFULibrary</string>
		<key>Twitter</key>
		<string>https://twitter.com/sfu_library</string>
		<key>Youtube</key>
		<string>https://www.youtube.com/user/SFULibrary</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mathematics</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/SFUMATH</string>
		<key>Twitter</key>
		<string>NODATA</string>
		<key>Youtube</key>
		<string>https://www.youtube.com/user/SFUmath/</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Pipe Band</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/sfupipeband</string>
		<key>Twitter</key>
		<string>https://twitter.com/sfupipeband</string>
		<key>Youtube</key>
		<string>https://www.youtube.com/user/sfupipeband</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Public Square</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/SFUPublicSquare</string>
		<key>Twitter</key>
		<string>https://twitter.com/SFUPublicSquare</string>
		<key>Youtube</key>
		<string>NODATA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Recreation</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/SFURecreation</string>
		<key>Twitter</key>
		<string>https://twitter.com/SFURecreation</string>
		<key>Youtube</key>
		<string>https://www.youtube.com/user/SFURecreation</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Research</string>
		<key>Facebook</key>
		<string>NODATA</string>
		<key>Twitter</key>
		<string>https://twitter.com/SFUResearch</string>
		<key>Youtube</key>
		<string>https://www.youtube.com/user/SFUresearch</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Science</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/sfuscience</string>
		<key>Twitter</key>
		<string>https://twitter.com/SFU_Science</string>
		<key>Youtube</key>
		<string>NODATA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Semester in Dialogue</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/SFUSemesterInDialogue</string>
		<key>Twitter</key>
		<string>https://twitter.com/SFUSemester</string>
		<key>Youtube</key>
		<string>NODATA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>SFU Clan</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/sfuclan</string>
		<key>Twitter</key>
		<string>https://twitter.com/SFUClan</string>
		<key>Youtube</key>
		<string>https://www.youtube.com/user/SFUSports</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Student Central</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/SFUstudentcentral</string>
		<key>Twitter</key>
		<string>https://twitter.com/sfucentral</string>
		<key>Youtube</key>
		<string>https://www.youtube.com/user/SFUstudentservices</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Study Abroad</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/SFUStudyAbroad</string>
		<key>Twitter</key>
		<string>https://twitter.com/SFUStudyAbroad</string>
		<key>Youtube</key>
		<string>NODATA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sustainability</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/SFUSustainabilityOffice</string>
		<key>Twitter</key>
		<string>https://twitter.com/SFUSustain</string>
		<key>Youtube</key>
		<string>https://www.youtube.com/user/SFUSustain</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Teaching and Learning Centre</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/SFU.TLC</string>
		<key>Twitter</key>
		<string>https://twitter.com/SFUteachlearn</string>
		<key>Youtube</key>
		<string>NODATA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Volunteer Services</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/sfu.volunteer</string>
		<key>Twitter</key>
		<string>https://twitter.com/SFU_Volunteer</string>
		<key>Youtube</key>
		<string>NODATA</string>
	</dict>
</array>
</plist>
